@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
.goToIcon-1{fill:#190db7;stroke:#050505;stroke-miterlimit:10;stroke-width:2px;}
.opendatemenu-1 {fill: #e6e6e6;stroke: #000; stroke-miterlimit: 10;  stroke-width: 2px;}.opendatemenu-2 { fill: #666;}
.savesection-1{stroke-width:0px;}.savesection-2{fill:#c4b526;font-family:Roboto-Bold, Roboto;font-size:30px;font-weight:700;stroke:#fff;stroke-miterlimit:10;}.savesection-3{letter-spacing:-.01em;}.savesection-4{letter-spacing:-.04em;}
.addsection-1{stroke-width:0px;}.addsection-2{letter-spacing:-.07em;}.addsection-3{fill:#c4b526;font-family:Roboto-Bold, Roboto;font-size:30px;font-weight:700;stroke:#fff;stroke-miterlimit:10;}.addsection-4{letter-spacing:0em;}
.closedatemenu-1 {fill: #e6e6e6;  stroke: #000;}.closedatemenu-1,.closedatemenu-2 {  stroke-miterlimit: 10;  stroke-width: 2px;}.closedatemenu-2 {  fill: #666;  stroke: #666;}
.dateyearup-1 {  fill: #e6e6e6;  stroke: #000;  stroke-miterlimit: 10;  stroke-width: 2px;}.dateyearup-2 {  fill: #666;}
.dateyeardown-1 {  fill: #e6e6e6;  stroke: #000;  stroke-miterlimit: 10;  stroke-width: 2px;}.dateyeardown-2 {  fill: #666;}.datemonthdown-1 {  fill: #e6e6e6;  stroke: #000;  stroke-miterlimit: 10;  stroke-width: 2px;}
.datemonthdown-2 {  fill: #666;}
.datemonthup-1 {  fill: #e6e6e6;  stroke: #000;  stroke-miterlimit: 10;  stroke-width: 2px;}.datemonthup-2 {  fill: #666;}
.removeicon-1{fill:#f41948;stroke:#000;stroke-miterlimit:10;stroke-width:0.5px;}
.savereport-1{fill:#379937;stroke:#1c491c;stroke-miterlimit:10;}.savereport-2{font-size:48px;font-family:Roboto-Bold, Roboto;font-weight:700;letter-spacing:0.05em;}.savereport-3{letter-spacing:0.04em;}.savereport-4{letter-spacing:0.04em;}.savereport-5{letter-spacing:0.05em;}.savereport-6{letter-spacing:0.07em;}
.addfieldimage-1{fill:#fbb03b;stroke:#000;stroke-miterlimit:10;}.addfieldimage-2{font-size:40px;font-family:Roboto-Regular, Roboto;}
.saveborings-1{fill:#591d19;}.saveborings-1,.saveborings-2{stroke:#231f20;stroke-miterlimit:10;}.saveborings-2{font-size:50px;fill:#d6b729;font-family:Roboto-Bold, Roboto;font-weight:700;letter-spacing:0.04em;}.saveborings-3{letter-spacing:0.03em;}.saveborings-4{letter-spacing:0.03em;}
.plus20-1{fill:#2f170e;stroke:#231f20;stroke-width:2px;}.plus20-1,.plus20-2{stroke-miterlimit:10;}.plus20-2{font-size:40px;fill:#fbba30;stroke:#511110;font-family:Roboto-Bold, Roboto;font-weight:700;}
.addnewimage-1{fill:#591d19;stroke-width:2px;}.addnewimage-1,.addnewimage-2{stroke:#231f20;stroke-miterlimit:10;}.addnewimage-2{font-size:28.25px;fill:#f3e93d;font-family:Roboto-Bold, Roboto;font-weight:700;}
.unchart-1,.unchart-7,.unchart-8{fill:none;stroke-miterlimit:10;}.unchart-1,.unchart-8{stroke:#231f20;}.unchart-2{font-size:40px;font-family:Roboto-Bold, Roboto;font-weight:700;}.unchart-2,.unchart-5{fill:#231f20;}.unchart-3{letter-spacing:-0.01em;}.unchart-4{letter-spacing:0.01em;}.unchart-5{font-size:30px;font-family:Roboto-Regular, Roboto;}.unchart-6{letter-spacing:-0.02em;}.unchart-7{stroke:#010101;stroke-width:5px;}.unchart-8{stroke-width:4px;}
.savetime-1{fill:#e0451b;stroke-width:2px;}.savetime-1,.savetime-2{stroke:#000;stroke-miterlimit:10;}.savetime-2{font-size:54px;fill:#fff;font-family:Roboto-Bold, Roboto;font-weight:700;letter-spacing:0.05em;}.savetime-3{letter-spacing:0.04em;}.savetime-4{letter-spacing:0.04em;}.savetime-5{letter-spacing:0.05em;}.savetime-6{letter-spacing:0.02em;}
.saveprojects-1{fill:#e81852;}.saveprojects-1,.saveprojects-2{stroke:#231f20;stroke-miterlimit:10;}.saveprojects-2{font-size:45px;fill:#fff;font-family:Roboto-Regular, Roboto;}.saveprojects-3{letter-spacing:-0.01em;}.saveprojects-4{letter-spacing:-0.01em;}.saveprojects-5{letter-spacing:-0.01em;}
.calculateIcon-1{fill:#d6b729;font-family:Roboto-Bold, Roboto;font-size:24px;font-weight:700;stroke:#000;stroke-miterlimit:10;}.calculateIcon-2{fill:#591d19;stroke-width:0px;}.calculateIcon-3{letter-spacing:-.06em;}.calculateIcon-4{letter-spacing:-.03em;}.calculateIcon-5{letter-spacing:0em;}
.addSieve-1{fill:#d6b729;font-family:Roboto-Bold, Roboto;font-size:24px;font-weight:700;stroke:#000;stroke-miterlimit:10;}.addSieve-2{fill:#591d19;stroke-width:0px;}
.remarkIcon-1{letter-spacing:0em;}.remarkIcon-2{fill:#d6b729;font-family:Roboto-Bold, Roboto;font-size:24px;font-weight:700;stroke:#000;stroke-miterlimit:10;}.remarkIcon-3{fill:#591d19;stroke-width:0px;}
.hidescroll {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.hidescroll::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.gfklogin-1{fill:#3b54a5;stroke:#231f20;}.gfklogin-1,.gfklogin-2{stroke-miterlimit:10;}.gfklogin-2{font-size:60px;fill:#ffe300;stroke:#f18721;font-family:Roboto-Bold, Roboto;font-weight:700;letter-spacing:0.1em;}
.App {
  text-align: center;
}
.active-actual-calendar {
  background-color: #F47373;
}
.calendarIcon-2{fill:#fff;stroke:#A62152;stroke-miterlimit:10;stroke-width:0.5px;}
.calendarIcon-1{fill:#fff;stroke:#2a678c;stroke-miterlimit:10;stroke-width:0.5px;}
.actualdatearrowdown-1 {  fill: #570b17;  stroke: #000;  stroke-miterlimit: 10;}
.actualdatearrowup-1 {  fill: #570b17;  stroke: #000;  stroke-miterlimit: 10;}
.laborcalendar-grid{
  margin:auto;
  width:100%;
  display:grid;
  grid-template-columns:14% 14% 14% 14% 14% 14% 14%;
  font-family: 'Nunito Sans', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.calendar-grid {
  max-width:540px;
  display: grid;
  grid-template-columns: 15% 14% 14% 14% 14% 14% 15%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin:auto;
}
.active-calender{
  background-color: #54A2EF;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
